# EXCERCISE

### 1.	Write a program to create a list of n integer values and do the following
*	Add an item in to the list (using function)
*	Delete (using function)
*	Store the largest number from the list to a variable
*   Store the Smallest number from the list to a variable

In [20]:
l = [1,2]
l.append(3)
print(l)

[1, 2, 3]

In [22]:
my_list = [22,33,11,223]
my_list.remove(11)
print(my_list)

[22, 33, 223]

In [23]:
my_list2 = [5,2,55,67,33]
large = max(my_list2)
print(large)

67

In [24]:
my_list2 = [5,2,55,67,33]
small = min(my_list2)
print(small)

2

### 2) Create a tuple and print the reverse of the created tuple

In [27]:
tup = (1,2,3,4,5)
print(tup[::-1])

(5, 4, 3, 2, 1)

### 3) Create a tuple and convert tuple into list

In [28]:
my_tup = ('a','b','c')
print(list(my_tup))

['a', 'b', 'c']